body {
    background-image: url(IMG/BG.png);
    background-color: #5F5F5F;
    font-size: 14px;
    background-image: url('IMG/moon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}
div.transbox{
    padding: 10px;
    background-image: url(IMG/Wall_01.jpg);
    opacity: 0.6;
    background-repeat: repeat-x;
}
 div.transbox h1{
     margin: 5%;
     font-weight: bold;
     color: #FFFFFF;
    }

@font-face {
    font-family: "MyWebFont";
    src: url("./font/Roboto/Roboto-Light.ttf");
}

.a:hover{
    transform: scale(1.2);
}
h2 {
    text-decoration: underline;
    color: #FFF77D;
    opacity: 0.8;
}
p{
    color: #A9A9A9;
    font-family: "MyWebFont";
}
a:hover {
  background-color: yellow;
}
p.clear {
  clear: both;
}
img{
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
    font-size: 8px;
    font-family: "MeriendaOne-Regular";  /* Font #2 */
    position: fixed;
    opacity: 0.8; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}